[Unit]
Description=OFOSHO Sign Service
After=network.target
After=fade_candy_server.service

[Service]
ExecStart=/usr/bin/xvfb-run /home/drummel/ofosho_ledcontroller/application.linux/ofosho_ledcontroller 
WorkingDirectory=/home/drummel/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target